:root {
    --font: "Montserrat", sans-serif;
    --block-title-size: 1.3rem;
    --title-size: 3rem;
    --link-size: 1rem;
    --bg: #282a36;
    --title: #ff79c6;
    --block-title: #f8f8f2;
    --block-bg: #282a36;
    --link: #6272a4;
    --border-style: 0px solid #bd93f9;
    --border-radius: 1rem;
    --block-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
