body {
    font-family: var(--font);
    background-color: var(--bg);
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: var(--link);
    font-size: var(--link-size);
}

li {
    padding: .4rem;
}

.block-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    background-color: var(--block-bg);
    max-width: 12rem;
    min-width: 12rem;
    border: var(--border-style);
    border-radius: var(--border-radius);
    box-shadow: var(--block-shadow);
    text-align: center;
}

.block>h3 {
    color: var(--block-title);
    font-size: var(--block-title-size);
}

@media screen and (max-width: calc(12rem + 2 * 1rem)) {
    .block {
        min-width: auto;
        width: 100%;
    }
}

.title {
    margin: 2rem 0 1rem 0;
    text-align: center;
    color: var(--title);
    font-size: var(--title-size);
}

.inset {
    padding: 1rem;
    margin: 1rem;
}
