body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: var(--link);
}

li {
    padding: .3em;
}

.block-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    max-width: 12rem;
    min-width: 12rem;
    border: var(--border-style);
    text-align: center;
}

@media screen and (max-width: calc(12rem + 2 * 1rem)) {
    .block {
        min-width: auto;
        width: 100%;
    }
}

.title {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.inset {
    padding: 1rem;
    margin: 1rem;
}
